*.db
*.vsidx
Source/GameServer/.vs/GameServer/v17/.suo
*.json
*.bin
*.ipch
*.obj
*.recipe
*.iobj
*.ipdb
*.log
*.pch
*.res
*.tlog
*.pdb
*.lib
*.exp
/Source/GameServer/Release
Source/GetMainInfo/.vs/GetMainInfo/v17/.suo
*.db-shm
*.db-wal
*.opendb
/Source/GetMainInfo/Release
Source/Main/.vs/Main/v17/.suo
Source/Main/Global Release/Main
/Source/Main/Global Release
Source/Main/.vs/Main/v17/HierarchyCache.v1.txt
